<div class="bDevice">
    <span class="eDevice_icon icon {{getIcon model}}"></span>
    <span class="eDevice_name">{{model.metrics.title}}</span>
    <span class="eDevice_image">
        <img class="eDevice_img" src="{{rootUrl}}{{model.metrics.url}}" alt="{{model.metrics.title}}" title="{{model.metrics.title}}">
    </span>
</div>